{
      "refName": "HIVE_ON_TEZ-1",
      "serviceType": "HIVE_ON_TEZ",
      "displayName": "Hive",
      "serviceConfigs": [
        {
          "name": "hms_connector",
          "ref": "HIVE-HMS-1"
        },
        {
          "name": "tez_service",
          "ref": "TEZ-1"
        },
        {
          "name": "zookeeper_service",
          "ref": "ZOOKEEPER-1"
        },
        {
          "name": "mapreduce_yarn_service",
          "ref": "YARN-1"
        }
      ],
      "roleConfigGroups": [
        {
          "refName": "HIVE_ON_TEZ-1-GATEWAY-BASE",
          "roleType": "GATEWAY",
          "configs": [],
          "base": true
        },
        {
          "refName": "HIVE_ON_TEZ-1-HIVESERVER2-BASE",
          "roleType": "HIVESERVER2",
           "configs": [
                  {
                    "name": "hiveserver2_enable_impersonation",
                    "value": "false"
                  }
           ],
          "base": true
        }
      ]
    }