[ {
  "refName": "HostTemplate-Gateway",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HDFS-1-GATEWAY-BASE",
    "HIVE-HMS-1-GATEWAY-BASE",
    "HIVE_ON_TEZ-1-GATEWAY-BASE",
    "TEZ-1-GATEWAY-BASE",
    "SPARK_ON_YARN-1-GATEWAY-BASE",
    "LIVY-1-GATEWAY-BASE",
    "YARN-1-GATEWAY-BASE" ]
}, {
  "refName": "HostTemplate-Edge",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HDFS-1-HTTPFS-BASE",
    "HBASE-1-HBASERESTSERVER-BASE",
    "HBASE-1-HBASETHRIFTSERVER-BASE",
    "HIVE_ON_TEZ-1-HIVESERVER2-BASE",
    "HUE-1-HUE_SERVER-BASE",
    "HUE-1-HUE_LOAD_BALANCER-BASE",
    {% if (krb5_kdc_type is defined) and (krb5_kdc_type != 'none') %}
    "HUE-1-KT_RENEWER-BASE",
    {% endif %}
    "OOZIE-1-OOZIE_SERVER-BASE",
    "SPARK_ON_YARN-1-GATEWAY-BASE",
    "ZEPPELIN-1-ZEPPELIN_SERVER-BASE",
    "YARN-1-GATEWAY-BASE",
    "QUEUEMANAGER-1-STORES",
    "QUEUEMANAGER-1-WEBAPP"]
}, {
  "refName": "HostTemplate-Master1",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HBASE-1-MASTER-BASE",
    "HDFS-1-NAMENODE-BASE",
    "HDFS-1-FAILOVERCONTROLLER-BASE",
    "HDFS-1-JOURNALNODE-BASE",
    "HIVE-HMS-1-HIVEMETASTORE-BASE",
    {% if cluster_version_cdh_major < '7' %}
    "SENTRY-1-SENTRY_SERVER-BASE",
    {% endif %}
    "YARN-1-RESOURCEMANAGER-BASE",
    "ZOOKEEPER-1-SERVER-BASE" ]
}, {
  "refName": "HostTemplate-Master2",
  "cardinality": 1,
  "roleConfigGroupsRefNames" : [
    "HBASE-1-MASTER-BASE",
    "HDFS-1-NAMENODE-BASE",
    "HDFS-1-FAILOVERCONTROLLER-BASE",
    "HDFS-1-JOURNALNODE-BASE",
    "HIVE-HMS-1-HIVEMETASTORE-BASE",
    {% if cluster_version_cdh_major < '7' %}
    "SENTRY-1-SENTRY_SERVER-BASE",
    {% endif %}
    "YARN-1-RESOURCEMANAGER-BASE",
    "ZOOKEEPER-1-SERVER-BASE" ]
}, {
  "refName": "HostTemplate-Master3",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HBASE-1-MASTER-BASE",
    "HDFS-1-BALANCER-BASE",
    "HDFS-1-JOURNALNODE-BASE",
    "IMPALA-1-CATALOGSERVER-BASE",
    "IMPALA-1-STATESTORE-BASE",
    "LIVY-1-LIVY_SERVER-BASE",
    "SPARK_ON_YARN-1-SPARK_YARN_HISTORY_SERVER-BASE",
    {% if cluster_version_cdh_major < '6' %}
    "SPARK2_ON_YARN-1-SPARK2_YARN_HISTORY_SERVER-BASE",
    {% endif %}
    "YARN-1-JOBHISTORY-BASE",
    "ZOOKEEPER-1-SERVER-BASE" ]
}, {
  "refName": "HostTemplate-Workers",
  "cardinality": 3,
  "roleConfigGroupsRefNames": [
    "HBASE-1-REGIONSERVER-BASE",
    "HDFS-1-DATANODE-BASE",
    "HIVE-HMS-1-GATEWAY-BASE",
    "HIVE_ON_TEZ-1-GATEWAY-BASE",
    "TEZ-1-GATEWAY-BASE",
    "LIVY-1-GATEWAY-BASE",
    "IMPALA-1-IMPALAD-BASE",
    "SPARK_ON_YARN-1-GATEWAY-BASE",
    {% if cluster_version_cdh_major < '6' %}
    "SPARK2_ON_YARN-1-GATEWAY-BASE",
    {% endif %}
    "YARN-1-NODEMANAGER-BASE" ]
}, {
  "refName": "HostTemplate-SingleNode",
  "cardinality": 1,
  "roleConfigGroupsRefNames": [
    "HBASE-1-HBASERESTSERVER-BASE",
    "HBASE-1-HBASETHRIFTSERVER-BASE",
    "HBASE-1-MASTER-BASE",
    "HBASE-1-REGIONSERVER-BASE",
    "HDFS-1-BALANCER-BASE",
    "HDFS-1-DATANODE-BASE",
    "HDFS-1-FAILOVERCONTROLLER-BASE",
    "HDFS-1-GATEWAY-BASE",
    "HDFS-1-HTTPFS-BASE",
    "HDFS-1-JOURNALNODE-BASE",
    "HDFS-1-NAMENODE-BASE",
    "HIVE-HMS-1-GATEWAY-BASE",
    "HIVE-HMS-1-HIVEMETASTORE-BASE",
    "HIVE_ON_TEZ-1-GATEWAY-BASE",
    "HIVE_ON_TEZ-1-HIVESERVER2-BASE",
    "HUE-1-HUE_LOAD_BALANCER-BASE",
    "HUE-1-HUE_SERVER-BASE",
    {% if (krb5_kdc_type is defined) and (krb5_kdc_type != 'none') %}
    "HUE-1-KT_RENEWER-BASE",
    {% endif %}
    "IMPALA-1-CATALOGSERVER-BASE",
    "IMPALA-1-IMPALAD-BASE",
    "IMPALA-1-STATESTORE-BASE",
    "LIVY-1-GATEWAY-BASE",
    "LIVY-1-LIVY_SERVER-BASE",
    "OOZIE-1-OOZIE_SERVER-BASE",
    "QUEUEMANAGER-1-STORES",
    "QUEUEMANAGER-1-WEBAPP",
    "SPARK_ON_YARN-1-GATEWAY-BASE",
    "SPARK_ON_YARN-1-SPARK_YARN_HISTORY_SERVER-BASE",
    "TEZ-1-GATEWAY-BASE",
    "YARN-1-GATEWAY-BASE",
    "YARN-1-JOBHISTORY-BASE",
    "YARN-1-NODEMANAGER-BASE",
    "YARN-1-RESOURCEMANAGER-BASE",
    "ZEPPELIN-1-ZEPPELIN_SERVER-BASE",
    "ZOOKEEPER-1-SERVER-BASE"
  ]
}
   ]