{
      "refName": "LIVY-1",
      "serviceType": "LIVY",
      "roleConfigGroups": [
        {
          "refName": "LIVY-1-GATEWAY-BASE",
          "roleType": "GATEWAY",
          "configs": [],
          "base": true
        },
        {
          "refName": "LIVY-1-LIVY_SERVER-BASE",
          "roleType": "LIVY_SERVER",
          "configs": [],
          "base": true
        }
      ]
    }