{
      "refName": "TEZ-1",
      "serviceType": "TEZ",
      "serviceConfigs": [
        {
          "name": "yarn_service",
          "ref": "YARN-1"
        }
      ],
      "roleConfigGroups": [
        {
          "refName": "TEZ-1-GATEWAY-BASE",
          "roleType": "GATEWAY",
          "configs": [],
          "base": true
        }
      ]
    }