{
      "refName": "QUEUEMANAGER-1",
      "serviceType": "QUEUEMANAGER",
      "serviceConfigs": [ ],
      "roleConfigGroups": [
        {
          "refName": "QUEUEMANAGER-1-WEBAPP",
          "roleType": "QUEUEMANAGER-QUEUEMANAGER_WEBAPP",
          "configs": [],
          "base": true
        },
        {
          "refName": "QUEUEMANAGER-1-STORES",
          "roleType": "QUEUEMANAGER-QUEUEMANAGER_STORE",
          "configs": [],
          "base": true
        }
      ]
    }