{
      "refName": "ZEPPELIN-1",
      "serviceType": "ZEPPELIN",
      "serviceConfigs": [
        {
          "name": "yarn_service",
          "ref": "YARN-1"
        },
        {
          "name": "hdfs_service",
          "ref": "HDFS-1"
        },
        {
          "name": "spark_on_yarn_service",
          "ref": "SPARK_ON_YARN-1"
        }
      ],
      "roleConfigGroups": [
        {
          "refName": "ZEPPELIN-1-ZEPPELIN_SERVER-BASE",
          "roleType": "ZEPPELIN_SERVER",
          "configs": [],
          "base": true
        }
      ]
    }